{% extends "layouts/base.html" %}
{% block content %}
<div class="container">

  <form class="form-signin" action="{% url "landing" %}" method="post">
    {% csrf_token %}

    <img class="form-signin-heading" src="{{ STATIC_URL }}img/logo.png"></img>
    <p>Canvas te ofrece un espacio para compartir tu creatividad. No sólo plasmando tus diseños en ropa para ti, sino abriéndolos a nuestra comunidad de usuarios. "¿Y qué gano yo con eso?", te preguntarás. ¡Déjanos tu e-mail y sé uno de los primeros en descubrirlo! (tip: no sólo es la fama (aunque también hay eso)).</p>
    {% if form_error %}
    <p class="form-error">{{ form_error }}</p>
    {% endif %}
    {{ form.email }}
    <button class="btn btn-large btn-landing" type="submit">¡Enviar!</button>

  </form>

</div> <!-- /container -->
{% endblock %}
